:root {
  --bg-gradient: linear-gradient(to right, #4F968F, #3A8A87);
  --bg-gradient-body: linear-gradient(to right, #CBDCE1, #CDDDE2);
  --lpanel-width: 200px;
  --dark-heading: #214749;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: var(--bg-gradient-body);
}

.copy-left-panel {
  min-width: var(--lpanel-width);
  height: 100%
}

#left-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--lpanel-width);
  height: 100%;
  float: left;
  background-image: var(--bg-gradient);
  height: 100%;
}

.panel-area {
  flex-basis: 100%;
}

#left-panel h4{
  margin-bottom: 0px;
}

#left-panel ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

#left-panel ul li {
  padding-right: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  padding-left: 20px;
  display: flex;
  align-items: center;
  transition: 0.2s;
  
}
#left-panel ul li i{
  font-size: 25px;
  color: white;
  padding-right: 10px;
}
#left-panel li span{
  flex-basis: 100%;
  color: white;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 20px;
}
#left-panel li:not(.active):hover{
  transform: translateX(15px);

}

#left-panel li.active span{
  color: black;
  background-image: var(--bg-gradient-body);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title{
  margin: 20px 0 40px 0px;
}

.panel-area .navbar-brand{
  color: var(--dark-heading);
  font-size: 2rem;
  font-weight: bold;
  margin: 0 30px;
}

.panel-area nav div form{
  width: 200px;
  margin-left: auto;
  align-items: center;
}

.panel-area nav div form input{
  background-color: var(--bg-gradient);

border: none;;
}
.panel-area .search{
  background-color: white;
  border-radius: 30px;
}

.panel-area nav div form i{
  background-color: var(--dark-heading);
  width: 50px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.panel-area nav .right{
  display: flex;
}

.panel-area nav .right i{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.panel-area nav .right img{
  width: 40px;
  border-radius: 50%;

}

.panel-area .right div i{
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -5px;
  left: 15px;
  font-size: 15px;
}









@media only screen and (max-width: 576px) {}